.app-dark {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-light {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.login-button {
  background-color: #61dafb;
  border-width: 0;
  border-radius: 4px;
  padding: 1rem 1rem;
  font-size: x-large;
  margin: 2rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #9ae8fd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mode-button {
  background-color: transparent;
  border-color: #61dafb;
  border-radius: 4px;
  padding: 1rem 1rem;
  margin: 2rem;
  cursor: pointer;
}