
.App {
  margin: 2em;
}

.user-container {
  padding: 20px;
  margin: 20px 0px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}

.btn-hide {
  background-color: #777;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: min-content;
}

.btn-show {
  background-color: #f8dc5e;
  border: none;
  color: #282c34;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: min-content;
}