.container {
    display: flex;
    flex-direction: row;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .logout-button {
    background-color: #758488;
    color: #fff;
    border-width: 0;
    border-radius: 4px;
    padding: 7px;
    width: 200px;
    font-size: x-large;
    margin: 2rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .logout-button:hover {
    background-color: #8fb2bd;
  }
  